registry=https://registry.npmjs.org
always-auth=true
_auth=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
@npm-public:registry=https://registry.npmjs.org
@yocto-queue:registry=https://registry.npmjs.org
@yargs-parser:registry=https://registry.npmjs.org
